@{
    ViewBag.Title = "MOS";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-18 col-md-12">
            @(Html.Kendo().Grid<RAdminApp.Models.MOSModel>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(p => p.Id).Width("100px");
            columns.Bound(p => p.Description);
            columns.Bound(p => p.Inactive);
            columns.Bound(p => p.HoldUntilDays);
            columns.Bound(p => p.HaboDays);
            columns.Bound(p => p.HaboForeign);
            columns.Bound(p => p.PricingRuleSetId);
        })
        .Pageable()
        .Sortable()
        .Scrollable()
        .Filterable()
        .HtmlAttributes(new { style = "height:900px;" })
        .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(50)
        .Read(read => read.Action("MosRead", "MOS"))
        )
            )
        </div>
    </div>

    
</div>
