@{
    ViewBag.Title = "Production Seasons";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-18 col-md-12">
            @(Html.Kendo().Grid<RAdminApp.Models.ProductionSeasonsModel>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(p => p.Id).Width("100px");
            columns.Bound(p => p.Description);
            columns.Bound(p => p.ShortName);
            columns.Bound(p => p.Text1);
            columns.Bound(p => p.Text2);
            columns.Bound(p => p.FirstPerformanceDate).Format("{0:yyyy/MM/dd hh:mm}");
            columns.Bound(p => p.LastPerformanceDate).Format("{0:yyyy/MM/dd hh:mm}");
        })
        .Pageable()
        .Sortable()
        .Scrollable()
        .Filterable()
        .HtmlAttributes(new { style = "height:900px;" })
        .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(50)
        .Read(read => read.Action("ProductionSeasonsRead", "ProductionSeasons"))
        )
            )
        </div>
    </div>

    
</div>
